body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #282c34;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#site-name {
  text-decoration: none;
  font-weight: 700;
  font-size: 50px;
  color: #939caa;
}

#site-name:hover {
  color: white;
  cursor: pointer;
}

#photo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-top: 50px;
}

#name {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 700;
  margin-top: 20px;
  color: #939caa;
}

#random {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-top: 20px;
  color: #939caa;
  text-align: center;
}

.fa {
  text-decoration: none;
  color: #939caa;
  margin-top: 30px;
}

.fa:hover {
  color: white;
}

.social-media {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#github {
  margin-right: 20px;
}

#gitlab {
  margin-right: 20px;
}

#reddit {
  margin-right: 20px;
}

#spotify {
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #939caa;
}

#coded {
  font-weight: 1000;
  font-size: 25px;
}

#love {
  font-weight: 1000;
  font-size: 25px;
}

#my-name {
  font-weight: 1000;
  font-size: 25px;
  color: #939caa;
  text-decoration: none;
}

#my-name:hover {
  color: white;
}
