body {
  margin: 0px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

#site-name {
  text-decoration: none;
  font-weight: 700;
  font-size: 50px;
  cursor: pointer;
}

.mods {
  display: flex;
  justify-content: center;
}

#light-mode {
  font-size: 30px;
  cursor: pointer;
}

#• {
  font-size: 30px;
}

#dark-mode {
  font-size: 30px;
  cursor: pointer;
}

.social-media {
  margin-top: 20px;
  font-size: 50px;
}

.slot-1 {
  margin-top: 20px;
}

.slot-2 {
  margin-top: 20px;
}

.slot-3 {
  margin-top: 20px;
}

#reddit {
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
  color: orange;
}

#wire {
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

#signal {
  cursor: pointer;
  text-decoration: none;
  color:blue; 
}

#minds {
  cursor: pointer;
  text-decoration: none;
  color: yellow;
  margin-right: 20px;
}

#peertube {
  cursor: pointer;
  text-decoration: none;
  color: orange;
}

#github {
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

#gitlab {
  cursor: pointer;
  text-decoration: none;
  color: darkorange;
}

#my-mail {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}

#back {
  width: 313px;
  height: 59px;
  font-size: 35px;
  color: #939caa;
  background-color: #282c34;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}
