body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

#site-name {
  text-decoration: none;
  font-weight: 700;
  font-size: 50px;
  color: black;
}

#site-name:hover {
  color: blue;
  cursor: pointer;
}

#dark-mode {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  color: black;
}

#dark-mode:hover {
  color: blue;
  cursor: pointer;
}

.social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 50px;
}

#wire {
  text-decoration: none;
  color: black;
}

#wire:hover {
  cursor: pointer;
  color: blue;
}

#reddit {
  text-decoration: none;
  color: orange;
}

#reddit:hover {
  cursor: pointer;
  color: blue;
}

#pixelfed {
  text-decoration: none;
  color: purple;
}

#pixelfed:hover {
  cursor: pointer;
  color: blue;
}

#mastodon {
  text-decoration: none;
  color: darkblue;
}

#mastodon:hover {
  cursor: pointer;
  color: blue;
}

#paypal {
  text-decoration: none;
  color: blue;
}

#paypal:hover {
  cursor: pointer;
  color: blue;
}

#spotify {
  text-decoration: none;
  color: green;
}

#spotify:hover {
  cursor: pointer;
  color: blue;
}

#github {
  text-decoration: none;
  color: black;
}

#github:hover {
  cursor: pointer;
  color: blue;
}

#gitlab {
  text-decoration: none;
  color: orange;
}

#gitlab:hover {
  cursor: pointer;
  color: blue;
}

#back {
  width: 313px;
  height: 59px;
  font-size: 35px;
  color: black;
  background-color: white;
  margin-top: 20px;
}

#back:hover {
  color: blue;
  cursor: pointer;
}
